# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here

# Admin Usernames (comma-separated list of Telegram usernames, e.g. user1,user2)
ADMIN_USERNAMES=username1,username2


# Logging configuration (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO
